
body{
    font-size:16px;
    color: #fff;
    background-color: #61122f ;
    font-family: "Oxygen", sans-serif;
 }
 /**START HEADER OR NAV-BAR**/
/**Navbar Color**/
#navbar-color{
  background-color: #f6b319;
}
.navbar-brand img{/*logo sizing*/
  width: 106px;
  height: 100px;
  margin:0px 15px 10px 0px;
    
}
#restaurant-name{
  /*Restaurant name*/
  font-family: "Lora", serif;
  color:#557c3e;
  font-size:2em;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow: 1px 1px 1px #222;
  margin-top:0px;
  margin-bottom: 10px;
  line-height:1;
  text-decoration:none;
  
}/*Style not applied-Name is not clickable*/
.container #restaurant-name a:hover {
  text-decoration:none;
  background-color:#E7E7E7;
}
#nav-list {
  margin-top:10px;
}
#nav-list a{
  color:#951C49;
  text-align: center;
}
#nav-list a:hover, a:focus{
  background: #E7E7E7;
}
#nav-list a span{
  font-size:1.8 em;
}
#phone{
  margin-top:5px;
}
#phone{
  margin-top:2px;
 align-content:right;
  padding-bottom:0;
  font-size:1.2em;
  
}
#phone a{/*Phone number*/
  text-align:right;
  padding-bottom:0;

}
#phone div {/*Contact us*/
color:#557C3E;
text-align: ri
3ght;
padding-right: 15px;
}
.containerbutton.navbar-toggler,.container.navbar-toggler-icon{
border:1px solid #61122f;
}
#search-box{/*form*/
  text-align: right;
padding-right: 15px;
}
#address{
  list-style-type: none;
}
/**END HEADER**/

/**Footer**/
.call-us span:hover, a:focus{
  background: #557C3E;
  }


/*** [STYLES FOR PREVIOUS FOOTER TRIAL]
.panel-footer{
  margin-top:30px;
  padding-top:35px;
  padding-bottom:30px;
  background-color:#222;
  border-top:0;
}
.panel-footer div.row{
  margin-bottom:35px;
}
#hours,#address{
line-height: 2;
}
#hours> span, #address> span{
  font-size: 1.3em;
}
#address p{
  color:#557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style:italic;
}
#testimonials p:nth-child(2) {
  margin-top:25px;
} ***/
/**HOME PAGE*/
.container.jumbotron{
  box-shadow:0 0 50px #3F0C1F;
  border:2px solid #3F0C1F;
  max-width:100%;
  height:auto;
  padding:auto;
  margin:auto;
  /**min-height:50vh;**/
  position:relative;
  color:white;
  text-shadow:2px 2px 2px rgba(0,0,0,.2);
  /***OBJECT DOES NOT FIT IN DIV IN SMALL AND MEDIUM SCALE DEVICES ***/
}
.color-overlay{
  width:100%;
  height:auto;
  background-color: rgba(0,0,0,.2);
}/**
.jumbotron-text{
  font-size:4em;
}**/
#menu-tile,#specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow:hidden;
}
#menu-tile:hover,#specials-tile:hover, #map-tile:hover{
  box-shadow:0 1px 5px 1px #cccccc;
}
#menu-tile{
  background: url('../Kibo test images/Kibo Menu photo (476).png') no-repeat;
  background-position:center;
}
#specials-tile{
  background: url('../Kibo test images/Kibo specials photo (476).png') no-repeat;
  background-position:center;
}
#menu-tile span, #specials-tile span, #map-tile span{
  position: absolute;
  bottom:0;
  right:0;
  width: 100%;
  text-align:center;
  font-size:1.6 em;
  text-transform:uppercase;
  background-color: #000;
  color:#fff;
  opacity:.8;
}
/** END OF HOME PAGE**/
/*MENU PAGE PAGE**/
.category-tile{
  position: relative;
  border: 2px solid #3F0C1F;
  overflow:hidden;
  width:200px;
  height:200px;
  margin:0 auto 15px;
}
.category-tile span{
  position: absolute;
  bottom:0;
  right: 0;
  width:100%;
  text-align:center;
  font-size:1.2em;
  text-transform: uppercase;
  background-color:#000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow:0 1px 5px 1px #cccccc;
}
#menu-categories-title + div{
  margin-bottom: 50px;
}
/**SINGLE CATEGORY PAGE**/
.menu-item-tile{
  margin-bottom:25px;
}
.menu-item-tile span hr{
  width:80%;
}
.menu-item-tile .menu-item-price{
  font-size:1.1em;
  text-align:right;
  margin-top:-15px;
  margin-right:-15px;
}
.menu-item-tile .menu-item-price span{
  font-size: .6em;
}
.menu-item-photo {
  position:relative;
  border:2px solid #3f0c1f;
  overflow:hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width:250px;
  max-height:150px;
}
.menu-item-photo div{
  position:absolute;
  bottom:0;
  right:0;
  width:80px;
  background-color:#557c3e;
  text-align:center;
}
.menu-item-description{
padding-right:30px;
}
h3.menu-item-title{
  margin:0 0 10px;
}
.menu-item-details{
  font-size: .9em;
  font-style: italic;
}

/******Extra extra Large******/
@media(min-width:1400px){
  .container .jumbotron{
    background: url('../Kibo test images/Jumbotron 1400 (1).png') no-repeat;
    height:788px;

  }
}

/******* Extra Large devices Only *********/
@media (min-width:1200px)and (max-width:1399px){
  .container .jumbotron{
    background: url('../Kibo test images/Jumbotron 1200 (2).png') no-repeat;
  height:675px;
  }

}
/*******Large devices only**********/
@media(min-width:992px) and (max-width:1199px) {
  
  
  .container .jumbotron{
    background: url('../Kibo test images/Jumbotron\ 992\ \(2\).png') no-repeat;
    height:558px;
   }
   
    #custom-logo {
     max-width:100px;
     max-height:100px;
     margin:0px 15px 10px 0px;
   }

  }
/*******Medium devices only*******/
@media(min-width:768px) and (max-width:991px){
  .container .jumbotron{
    background: url('../Kibo test images/Jumbotron\ 768\(2\).png') no-repeat;
    height:432px;
  }
  #panel-footer{
    text-align:center;
  }
 #separate-footer{
    width:50%;
  }

}
/********small devices only* ******/
@media (min-width:576px) and (max-width:767px) {
  .container .jumbotron{
    background: url('../Kibo test images/Jumbotron\ 576\ \(3\).png') no-repeat;
    height:324px;
    background-size: cover;
    
  }
  #panel-footer{
    text-align:center;

  }
 
}

/******** extra small only*********/
@media (min-width:0px) and (max-width:575px) {
   /**AT THIS BREAK POINT JUMBOTRON IS NOT COVERING WHOLE DIV UNTIL DIV REACHES 500PXS WIDE WHEN SQUEEZING --I need to make the image longer going down**/
   .container .jumbotron{
  background: url('../Kibo test images/Jumbotron 500 (3).png') no-repeat;
  height:auto;
  width:auto;
  background-origin: content-box;
}
#menu-tile, #specials-tile, #map-tile{
  width:100%;
  margin:2px auto 2px;}

  #panel-footer{
    text-align:center;
  }
  .jumbotron-text{
    font: size 0.5em;
    align-content: center;
}
.menu-item-photo{
  margin-right: auto;
}
.menu-item-tile .menu-item-price{
  text-align:center;
}
.menu-item-description{
  text-align:center;
}
}


@media screen and (max-width:767){
/****Restaurant name****/
.container{
  padding-top:10px;
  height:80px;
}
.container #restaurant-name{
  padding-top:10px;
  font-size:5vw; /* 1 vw =1% of viewport width*/
}
}

/****Restaurant name breaks into 2- lOgo hidden for space AT WIDTH 994****/
 @media screen and (max-width: 994px) {
   #custom-logo {
    display:none;
  }
 #restaurant-name{
    display: flexbox;
 } 
  }
  @media (max-width:479px) {
   .col-xxs{
    flex: 0 0 auto;
  width: 100%;
 }
}




 

/**
.navbar-brand p {
  [Certified]
  color:#000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15 px;
}
.navbar-brand p span {
  [Star-K]
  vertical-align:middle;
}
**/
   
  
